<form method="post">
    <div>
        <app-label>Username</app-label>
        <app-input-field
                id="username"
                type="text"
                [(ngModel)]="username"
                placeholder="Enter your username"
                [validators]="'required | minLength:3 | maxLength:20 | unique'"
        />
    </div>
    <div>
        <app-label>Password</app-label>
        <app-input-field
                id="password"
                type="password"
                [value]="password"
                (valueChange)="handlePasswordChange($event)"
                placeholder="Enter your password"
        />
    </div>
    <div>
        <app-label>Confirm Password</app-label>
        <app-input-field
                id="confirm-password"
                type="password"
                [value]="confirmPassword"
                (valueChange)="handleConfirmPasswordChange($event)"
                placeholder="Enter your password again"
        />
    </div>
    <div>
        <app-label>Role</app-label>
        <app-select
                [options]="options"
                placeholder="Select user role"
                [value]="role"
                (valueChange)="handleRoleChange($event)"
                className="dark:bg-dark-900"
        ></app-select>
    </div>
    <div class="flex items-center gap-5 mt-4">
        <app-button (click)="onSubmit()" size="sm" variant="primary" [disabled]="usernameExistsError">Create User</app-button>
    </div>
</form>