<form method="post">
    <div>
        <app-label>Password</app-label>
        <app-input-field
                id="password"
                type="password"
                placeholder="Enter your password"
                [validators]="'required | no-space | minLength:8 | maxLength:20'"
                [value]="password"
                (valueChange)="handlePasswordChange($event)"
                (errorChange)="handlePasswordErrorChange($event)"
        />
    </div>
    <div>
        <app-label>Confirm Password</app-label>
        <app-input-field
                id="confirm-password"
                type="password"
                placeholder="Enter your password again"
                [validators]="'required | no-space | confirm-password | minLength:8 | maxLength:20'"
                [value]="confirmPassword"
                (valueChange)="handleConfirmPasswordChange($event)"
                (errorChange)="handleConfirmPasswordErrorChange($event)"
        />
    </div>
    <div class="flex items-center gap-5 mt-4">
        <app-button (click)="onSubmit()" size="sm" variant="primary">
            Update Password
        </app-button>
    </div>
</form>
